<!-- Content
================================================== -->
<div id="content" class="container">
<div class="hero-unit">
	<div class="ac">
		<h1>Meet our team or <a href="contact.html">contact us</a>.</h1>
	</div>
</div>

<div id="team-members">
	
	<div class="row">

	<article class="member span4">
		<div class="member-avatar">
			<%= image_tag "member.jpg", class: "thumbnail" %>
		</div>
		<p class="member-networks">
			<a href="#" class="icon-twitter"></a>
			<a href="#" class="icon-linkedin"></a>
			<a href="#" class="icon-phone"></a>
			
		</p>
		<h3 class="member-name">Sandy Gibson</h3>
		<h4 class="member-position">Co-Founder</h4>
		<p class="member-bio">
			Sandy Gibson co-founded Elevate with Brad Milne. He
			leads Elevate’s sales and marketing team and is jointly
			responsible for the company’s strategic direction and
			product vision. Sady holds an A.B. from Princeton
			University.
		</p>
	</article>

	<article class="member span4">
		<div class="member-avatar">
			<%= image_tag "member.jpg", class: "thumbnail" %>
			
		</div>
		<p class="member-networks">
			<a href="#" class="icon-twitter"></a>
			<a href="#" class="icon-linkedin"></a>
			<a href="#" class="icon-github"></a>
		</p>
		<h3 class="member-name">Brad Milne</h3>
		<h4 class="member-position">Co-Founder</h4>
		<p class="member-bio">
			Brad Milne co-founded Elevate with Sandy Gibson. He is
			responsible for Elevate’s technology development and
			customer success, and is jointly responsible for the
			company’s strategy and product vision. Brad holds a
			BCom from McGill University’s Desautels Faculty of
			Management.
		</p>
	</article>	

	<article class="member span4">
		<div class="member-avatar">
			<%= image_tag "member.jpg", class: "thumbnail" %>
		</div>
		<p class="member-networks">
			<!-- ><a href="#" class="icon-facebook"></a>
			<a href="#" class="icon-phone"></a>
			<a href="#" class="icon-envelope"></a> -->
		</p>
		<h3 class="member-name">John Phillips</h3>
		<h4 class="member-position">Chairman</h4>
		<p class="member-bio">
			John Phillips is an investor and board member in many
			of Canada’s leading software companies including
			Shopify, Buzz Data and Elevate.
		</p>
	</article>

	</div>

</div>
</div>
