<!-- Content
================================================== -->
<div id="content" class="container">
</div>

<iframe width="100%" height="420" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=144+Spadina+Avenue,+Toronto,+ON,+Canada&amp;aq=0&amp;oq=144+spadina+ave&amp;sll=35.746512,-95.712891&amp;sspn=44.266534,81.650391&amp;ie=UTF8&amp;hq=&amp;hnear=144+Spadina+Ave,+Toronto,+Toronto+Division,+Ontario,+Canada&amp;t=m&amp;z=14&amp;ll=43.648353,-79.396334&amp;output=embed"></iframe>

<div class="container hero-unit">
	<div class="row">
		<p class="span4 ac">
			<br />
			<a class="btn btn-large btn-primary"><b>@ Write us</b></a><br /><br />
			<b>Elevate</b><br />147 Spadina Ave. Unit 201, Toronto, Canada <a>Get Directions</a>
		</p>
		<p class="span4">
			We combine industry expertise with innovative technology to deliver critical information to leading decision makers in the financial, legal, tax and accounting, healthcare, science and media markets, powered by the world’s most trusted news organization.
		</p>
		<p class="span4">
			We combine industry expertise with innovative technology to deliver critical information to leading decision makers in the financial, legal, tax and accounting, healthcare, science and media markets, powered by the world’s most trusted news organization.
		</p>
	</div>
</div>
</div>