<!-- Content
================================================== -->
<div id="content" class="container">
<div class="hero-unit">

	<!-- headin gtext -->
	<p class="ac">
		<b>The World's Leading Employee Social Media Engagement Platform</b> 
	</p>

	<!-- Carousel -->	
	<div id="macbook_carousel">
		<div id="carousel" class="carousel slide" rel="carousel">
			<!-- Carousel items -->				
			<div class="carousel-inner">
				<div class="active item">
					<%= image_tag "carousel/social_email.png " %>
				</div>
				<div class="item">
					<%= image_tag "carousel/employee_sharing.png " %>
				</div>
				<div class="item">
					<%= image_tag "carousel/marketing_insight.png " %>
				</div>
			</div>
			<!-- Carousel navigation -->
			<a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="span8">
		<h1 class="lead">
			<b>Get Started Today Free</b> Our plans are made to fit any sized company. Want to try it first? Get started on our free plan and start engaging your employees in your social media efforts.
		</h1>
	</div>
	<div class="span4">
		<h3 class="ac"><small>Try our Solo plan</small> FREE</h3>
		<p class="ac">
			<%= link_to "Sign up  now", '#', 
		                                class: "btn btn-large btn-primary" %>
		</p>
	</div>
</div>

<hr />

<div class="row">
	<div class="span4">
		<h2>Make Your Selling<span class="grey"> social</span></h2>
		 <p>Drive leads by getting your best social media content in the
		hands of the salespeople. Elevate makes it easy to help your
		salespeople tap into their social networks to generate business. </p>
		<p><a class="" href="#">Read more &raquo;</a></p>
 	</div>
	<div class="span4">
		<h2><span class="grey">Amplify</span> digital content</h2>
		 <p>Amplify your social content by turning your employees into your
		brand ambassadors. Help spread your social and brand efforts
		by making it easy for your employees to share your content</p>
		<p><a class="" href="#">Read more &raquo;</a></p>
	</div>
	<div class="span4">
		<h2>Recruit<span class="grey"> the modern way</span></h2>
		<p>Power your recruiting efforts by getting your job postings and
		in front of your employees’ personal and professional networks.
		Increase referrals and capture more applicants.</p>
		<p><a class="" href="#">Read more &raquo;</a></p>
	</div>
</div>
</div>