<!-- Content
================================================== -->
<div id="content" class="container">
<div class="hero-unit">
	<div class="container">
		<h1 class="ac">Plans and pricing!</h1><br />
		<p class="ac">
			Upgrade, downgrade or cancel at any time.
		</p>
	</div>
</div>

<!-- Example pricing -->
<div class="row pricing">

	<div class="span4">
		<div class="well">
			<h2>Small Business</h2>
			<ul>
				<li>&#10004; 5 marketing users</li>
				<li>&#10004; 2 Twitter accounts</li>
				<li>&#10004; 500 employee emails</li>
			
			
			</ul>
			<p>Get started engaging your employees today with our small business plan. We get you up and running with everything you need to get started amplifying your social media</p>
			<hr />
			<h3 class="ac">FREE FOREVER</h3>
			<hr />
			<p class="ac">
				<a class="btn btn-success btn-large" href="#">Select plan &raquo;</a>
			</p>
		</div>
	</div>
	<div class="span4 most-popular">
		<div class="well">
			<h2>Business Unit</h2>
			<p><span>POPULAR</span></p>
			<ul>
				<li>&#10004; 10 marketing users</li>
				<li>&#10004; 10 Twitter accounts</li>
				<li>&#10004; 2500 employee emails</li>
				<li>&#10004; Employee social analytics</li>
				
			</ul>     
			     
			<p>Perfect for business units or medium sized companies. Start engaging your employees in your social media efforts and understand the impact of your company's collective social media activity</p>
			<hr />
			<h3 class="ac">$499 / month</h3>
			<hr />
			<p class="ac">
				<a class="btn btn-success btn-large" href="#">&#10004; Select plan</a>
			</p>
		</div>
	</div>
	<div class="span4">
		<div class="well">
			<h2>Enterprise</h2>
			<ul>
				<li>&#10004; 50 marketing users</li>
				<li>&#10004; 25 Twitter accounts</li>
				<li>&#10004; 10,000 employee emails</li>
				<li>&#10004; Employee social analytics</li>
			</ul>          
			<p>For large companies that want to get serious about employee social media, Elevate puts together custom packages that ensure success.</p>
			<hr />
			<h3 class="ac">Call Us</h3>
			<hr />
			<p class="ac">
				<a class="btn btn-success btn-large" href="#">Contact us &raquo;</a>
			</p>
		</div>
	</div>
</div>

<hr />

<div class="row">
	<div class="span12">
		<h1 class="lead">
			<b>All plans comes with 30-day</b> free trial.
		</h1>
	</div>
</div>

</div>
