<!-- Content
================================================== -->
<div id="content" class="container">
<div class="hero-unit">
	<div class="container">
		<h1 class="ac">Plans and pricing!</h1><br />
		<p class="ac">
			This is a template for a simple pricing table.
			Take a look at our pricing options.
		</p>
	</div>
</div>

<!-- Example pricing -->
<div class="row pricing">

	<div class="span4">
		<div class="well">
			<h2>Basic</h2>
			<ul>
				<li>&#10004; 5 users</li>
				<li>&#10004; 1TB of space</li>
				<li>&#10006; Limited access</li>
				<li>&#10006; No phone support</li>
			</ul>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
			<hr />
			<h3 class="ac">$5.99 / month</h3>
			<hr />
			<p class="ac">
				<a class="btn btn-success btn-large" href="#">Select plan &raquo;</a>
			</p>
		</div>
	</div>
	<div class="span4 most-popular">
		<div class="well">
			<h2>Silver</h2>
			<p><span>POPULAR</span></p>
			<ul>
				<li>&#10004; 20 users</li>
				<li>&#10004; Unlimited access</li>
				<li>&#10004; 3TB of space</li>
				<li>&#10004; E-mail support</li>
			</ul>          
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			<hr />
			<h3 class="ac">$15.99 / month</h3>
			<hr />
			<p class="ac">
				<a class="btn btn-success btn-large" href="#">&#10004; Select plan</a>
			</p>
		</div>
	</div>
	<div class="span4">
		<div class="well">
			<h2>Gold</h2>
			<ul>
				<li>&#10004; Unlimited users</li>
				<li>&#10004; Unlimited access</li>
				<li>&#10004; 100TB of space</li>
				<li>&#10004; Phone and e-mail support</li>
			</ul>          
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
			<hr />
			<h3 class="ac">$25.99 / month</h3>
			<hr />
			<p class="ac">
				<a class="btn btn-success btn-large" href="#">Select plan &raquo;</a>
			</p>
		</div>
	</div>
</div>

<hr />

<div class="row">
	<div class="span12">
		<h1 class="lead">
			<b>All plans comes with 90-day</b> money-back guarantee.
		</h1>
	</div>
</div>

</div>

<footer class="row">
	<div class="container">
		<div class="row">
			<div class="span2">
				<h3>Quick links</h3>
				<ul>
					<li><a href="#" title="">Home</a></li>
					<li><a href="#" title="">Our work</a></li>
					<li><a href="#" title="">About us</a></li>
				</ul>
			</div>
			<div class="span2">
				<br /><br />
				<ul>
					<li><a href="#" title="">Pricing</a></li>
					<li><a href="#" title="">Explore</a></li>
					<li><a href="#" title="">Contact</a></li>
				</ul>
			</div>
			<div class="span4 social-networks">
				<h3>Stay in touch</h3>
				<p>Stay in touch on social networks</p>
				<a href="#" title="Follow us on Facebook" class="icon-facebook"></a>
				<a href="#" title="Follow us on Twitter" class="icon-twitter"></a>
				<a href="#" title="Follow us on Google Plus" class="icon-google-plus"></a>
				<a href="#" title="Follow us on Google Plus" class="icon-github"></a>
				<a href="#" title="Follow us on Google Plus" class="icon-pinterest"></a>
			</div>
			<div class="span4">
				<h3>Newsletter</h3>
				<p>Subscribe to our monthly newsletter and be the first to know about our news and special deals!</p>
				<form>
					<input type="text" placeholder="Enter your E-mail" />
					<input type="submit" class="btn" value="Ok" />
				</form>
			</div>
		</div> <!-- /row -->		
	</div> <!-- /container -->

<div id="footer-extra">
	<div class="container">
		<div class="row">
			<div class="span4">
				&copy; 2010—2012 Your company
			</div>
			<div class="span4">
				<i class="icon-phone"></i> &nbsp; 
				00123 320 000 123 456
			</div>
			<div class="span4">
				<i class="icon-envelope"></i> &nbsp; 
				hello@yourcomapny.com
			</div>
		</div> <!-- end .row -->		
	</div> <!-- end .container -->		
</div>
