<div class="container">

  <div class="row">
	<div class="span3">
		<ul class="nav nav-list well">
		  <li class="nav-header">Options</li>	
		  <li>Personal Info</li>
		  <li><b>Social Accounts</b></li>
		  <li>Account Info</li>
		</ul>
	</div>
	
	<div class="span9">
		<br><br>
	<h2>Twitter Accounts</h2> Add up to 5 accounts. You will be redirected to Twitter for authorization<hr />
	<p>@bradmilne  <b>remove...</b></p><br>
	<p>@getelevate  <b>remove...</b></p><br>
	<p>@pwc  <b>remove...</b></p><br>
	
	<div class="input-prepend">
	  <span class="add-on">@</span><input class="span2" id="prependedInput" size="16" type="text" placeholder="Username">
	  <button type="submit" class="btn btn-primary">Add Account</button>
	</div>
	
	<br><br><br>
	<h2>LinkedIn Account</h2>Add your personal account. You will be redirected to LinkedIn for authorization<hr />
	<div class="input-prepend">
	  <span class="add-on">@</span><input class="span2" id="prependedInput" size="16" type="text" placeholder="Username">
	  <button type="submit" class="btn btn-primary">Add Account</button>
	</div>
	<br>
	<h4>Choose Groups</h4>
	<label class="checkbox inline">
	  <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
	</label>
	<label class="checkbox inline">
	  <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
	</label>
	<label class="checkbox inline">
	  <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
	</label>
	</div>
		
	
  </div>	

</div>